.table-container {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.table {
  margin-top: 32px;
  background: origin 24px;
  border: 2px solid;
  color: #bc6dd9;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background: transparent; 
  border-collapse: collapse;
}

.table td, .table th {
  border: 1px solid #BB6BD9;
  padding: 16px;
  text-align: center; 
  color: #BB6BD9;
}

body {
  background-color: rgb(0, 0, 0);
}
body {
    background-color: rgb(0, 0, 0);
  }
  h1 {
    color: #BB6BD9;
    text-align: center;
    font-family:Helvetica;
    font-size: 40px;
    font-weight: bold;
    margin-top: 56px;
    margin-bottom: 40px;
  }
  body{
    color: #BB6BD9;
    text-align: center;
    font-family: Helvetica;
    font-size: 24px;
  
  } 
  .div1 {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-left: 56px;
    margin-right: 56px;
  }
  img  {
    margin-left: auto;
    margin-right: auto;
    display:block;
    resize: horizontal;
    border-radius: 1cm; border-style: dashed;background: -moz-linear-gradient(border-style);
    margin-top: 40px;
    margin-bottom: 40px;
}

button.all {
  color: #bc6dd9;
  text-align: center;
  background-color: rgb(0, 0, 0);
  align-items: center;
  border-color: #bb6bd9;
  border-width: 2px;
  padding: 16px 32px;
  border-radius: 8px;
  font-size: 24px;
  font-family: Helvetica;
  margin-top: 40px;
}

button.linkedin {
color: #000000;
background-color: #000000;
align-items: center;
border-width: 0px;
margin-top: 0px;
} 

.topnav {
  overflow: hidden;
  background-color: #360363;
  align-items: center;
}
.topnav a {
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  font-family: Helvetica;
  align-items: center;
}
.topnav a:hover {
  background-color: #592883;
  color: rgb(172, 130, 172);
}
.header { grid-area: header; }
.main { grid-area: main; }
.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'main main main main main main';
  gap: 16px;
  background-color: #f321d000;
  padding: 16px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
.footer {
  background-color:  #000000; 

}
.textfooter{
  color: #fff; 
  padding: 20px; 
  text-align: center; 
  margin-top: 10px;
  font-size: 14px;

}